<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta charset="UTF-8" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="background">
        <div class="title"><a href="/">Blog</a></div>
        <% if user_signed_in? %>
        <div class="sign-box">
            <a class="post" href="/users/sign_out">Singout</a>
            <a class="post" href="/blogs/new">New</a>
        </div>
        <% else %>
        <div class="sign-box">
            <a class="post" href="/users/sign_in">Singin</a>
            <a class="post" href="/users/sign_up">New Post</a>
            <a class="post" href="/blogs/new">New</a>
        </div>
        <% end %>
    </header>
    <%= yield %>

  </body>
</html>
